<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.appstoreinfo" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AppStoreInfo</name>
    <js-module name="AppStoreInfo" src="www/AppStoreInfo.js">
        <clobbers target="cordova.plugins.AppStoreInfo" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AppStoreInfo">
                <param name="ios-package" value="AppStoreInfo" />
            </feature>
        </config-file>
        <header-file src="src/ios/AppStoreInfo.h" />
        <source-file src="src/ios/AppStoreInfo.m" />

        <header-file src="src/ios/ConvertVersion.h" />
        <source-file src="src/ios/ConvertVersion.m" />
    </platform>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppStoreInfo">
                <param name="android-package" value="cordova.plugin.appstoreinfo.AppStoreInfo" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/AppStoreInfo.java" target-dir="src/cordova/plugin/appstoreinfo/AppStoreInfo" />
        <framework custom="true" src="src/android/android-play-core.gradle" type="gradleReference" />
    </platform>
</plugin>